<h2>Add data name</h2>

<form action="/clients/<%= client.id %>?_method=PUT" method="POST">
    <div><input type="text" name="client[data]" placeholder="Data name" value=""></div>

    <input type="submit" value="Create folder">
</form>