<h1>New Client</h1>

<form action="/clients" method="POST">
    <div><input type="text" name="client[firstName]" placeholder="First name"></div>
    <div><input type="text" name="client[lastName]" placeholder="Last name"></div>
    <div><input type="text" name="client[phone]" placeholder="Phone number"></div>
    <div><input type="text" name="client[address]" placeholder="Address"></div>

    <input type="submit" value="Send">
</form>